








































/* Задача про передвижение ведьмочки */
/* body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whitch {
    height: 10px;
    width: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    transition: 1s;
}

.wall {
    background-color: #f9b47d;
    border: #e1e1e1 solid 10px;
    width: 400px;
    height: 400px;
    position: relative;
    cursor: pointer;
} */



/* Логика сортировки таблицы - работает со своим HTML и CSS  */
/* body {
  background-image: linear-gradient(45deg, #4ebd36, #7e7cf9);
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 100px;
  font-family: Roboto, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  min-width: 600px;
  max-width: 1000px;
}

tr {
  background: #fff;
  color: #808080;
}

tr:nth-child(2n + 1) {
  background: #f5f5f5;
}

thead tr:first-child {
  background: #e25644;
  color: #fff;
}

tfoot tr:first-child {
  background: #f5f5f5;
}

td,
th {
  text-align: left;
  padding: 18px;
}

thead th:hover {
  color: #fff400;
  cursor: pointer;
}

thead tr th:first-child {
  border-top-left-radius: 10px;
}

thead tr th:last-child {
  border-top-right-radius: 10px;
}

tfoot tr th:first-child {
  border-bottom-left-radius: 10px;
}

tfoot tr th:last-child {
  border-bottom-right-radius: 10px;
}

tbody tr:hover {
  background: #f5f5f5;
  color: #585858;
  cursor: pointer;
} */